body{
    background-color: black;
    color: white;
    max-width: 90%;
    height: max-content;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px white solid;
}
.name{
    font-size: 60px;
    font-weight: 400;
    
    cursor: pointer;
    align-self: flex-end;
}
.avatar{
    width: 15%;
}
.avatar img{
    width: 50px;
    cursor: pointer;
}
.balanceMain{
    padding-top: 5vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.balanceText{
    width: 40%;
    padding-right: 20%;
}
.balanceText p{
    font-weight: 600;
    font-size: 50px;
    border-bottom: 1px white solid;
    text-align: right;
}
.balanceNum{
    width: 40%;
}
.balanceNum p{
    font-weight: 600;
    text-align: left;
    font-size: 50px;
    border-bottom: 1px white solid;
}
.farm_but{
    padding-top: 5%;
    padding-bottom: 10%;
    height: 40%;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.farm_but button{
    width: 50%;
    height: 50%;
    font-size: 50px;
    border-radius: 50%;
    background-color: yellow;
    opacity: .7;
    animation: 5s rotate infinite linear;
}
.circle{
    font-weight: 400;
    letter-spacing: 5px;
    margin: auto;
    color: white;
    background:none;
    border: none;
    width: 100%;
    height: max-content;
    font-size: 50px;
    text-align: center;
}
.futor{
    width: 100%;
    height: 10vh;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
